openapi: 3.1.0
info:
  title: Google Drive Concept Note Handler
  description: Search, edit, and export Google Docs from a specific Drive folder.
  version: 1.0.3
servers:
  - url: https://www.googleapis.com
    description: Google API main server

paths:
  /drive/v3/files:
    get:
      operationId: searchDriveFilesInFolder
      summary: Search for Google Docs by title inside a specific Google Drive folder.
      parameters:
        - name: filenameQuery
          in: query
          required: true
          description: Title or partial title of the document to search for.
          example: Liquid VC
          schema:
            type: string
        - name: q
          in: query
          required: true
          description: Full Drive query built from filenameQuery and folder restriction.
          example: "'me' in owners and mimeType = 'application/vnd.google-apps.document' and name contains 'Liquid VC' and '1ogLLhjQd6zeruA-P561rgpag5AOi4pvR' in parents"
          schema:
            type: string
        - name: fields
          in: query
          required: false
          description: Comma-separated list of fields to include in the response.
          schema:
            type: string
          example: "files(id, name)"
      responses:
        '200':
          description: Matching documents found inside the folder.
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string

  /docs/v1/documents/{documentId}:
    get:
      operationId: getGoogleDocContent
      summary: Retrieve content from a Google Docs document.
      parameters:
        - name: documentId
          in: path
          required: true
          description: The ID of the Google Docs document to retrieve.
          schema:
            type: string
      res
