openapi: 3.1.0
info:
  title: Google Drive Concept Note Handler
  description: Search, retrieve, export, and upload Google Docs for editing and Word conversion.
  version: 1.0.4

servers:
  - url: https://www.googleapis.com
    description: Google API Server

paths:
  /drive/v3/files:
    get:
      operationId: searchDriveFilesInFolder
      summary: Search Google Docs by filename within a specific folder.
      parameters:
        - name: filenameQuery
          in: query
          required: true
          schema:
            type: string
          example: Liquid VC
          description: Partial or full filename to search.
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: "'1ogLLhjQd6zeruA-P561rgpag5AOi4pvR' in parents and mimeType='application/vnd.google-apps.document' and name contains 'Liquid VC'"
          description: Internal query string (GPT auto‑generates from filenameQuery).
        - name: fields
          in: query
          required: false
          schema:
            type: string
          example: "files(id,name)"
      responses:
        '200':
          description: List of matching Google Docs
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string

  /docs/v1/documents/{documentId}:
    get:
      operationId: getGoogleDocContent
      summary: Retrieve content from a Google Doc.
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Google Doc content
          content:
            application/json:
              schema:
                type: object

  /drive/v3/files/{fileId}/export:
    get:
      operationId: exportDocAsWord
      summary: Export a Google Doc as a Word document (.docx).
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
        - name: mimeType
          in: query
          required: true
          schema:
            type: string
          example: application/vnd.openxmlformats-officedocument.wordprocessingml.document
      responses:
        '200':
          description: Binary Word document
          content:
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary

  /upload/drive/v3/files:
    post:
      operationId: uploadWordFile
      summary: Upload a Word file to Google Drive.
      parameters:
        - name: uploadType
          in: query
          required: true
          schema:
            type: string
          example: multipart
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: string
                  format: binary
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Upload success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  name: { type: string }
